<h1>Edit Recipe of the Cocktail for <%= @cocktail.title %> </h1>
<p><%= @error %></p>
<form action="/cocktails/<%=@cocktail.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label>Title</label>
    <input type="text" name="cocktail[title]" value=" <%= @cocktail.title %>">
    <label>Method</label>
    <textarea name="cocktail[method]" value="<%= @cocktail.method %>"></textarea>
    <label>Image URL</label>
    <input type="text" name="cocktail[image]" value="<%= @cocktail.image %>">
    <button type="submit">Add Cocktail</button>
</form>