<h1>Cocktails</h1>
<a href="/cocktails/new">Create a Cocktail</a>
<% @cocktails.each do |cocktail| %>
    <h2><a href="/cocktails/<%= cocktail.id %>"><%= cocktail.title %> </a> </h2>
    <p><%= cocktail.method %></p>
    <img src="<%= cocktail.image %>" alt ="cocktail">
    <% #if the curreny logged in user created this cocktail, then they can edit else no option to%>
    <p><a href="/cocktails/<%=cocktail.id%>/edit">Edit</a><p>
<% end %>
